@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

#__next {
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Sofia Pro', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.upcomingSlider .img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.servicesSlider .img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.residentsSlider .img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.residentsSlider .tt-box01_layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  position: relative;
  top: -39px;
}

.residentsSlider .tt-box01_layout:not(.tt-box01_layout02) {
  margin-left: 30px;
  background-color: #ffffff;
}

.event-item02 {
  margin: 0 15px;
  height: 450px;
}

.event-item02.tt-box01 .imgBox {
  height: 90%;
}

.indicators {
  gap: 15px;
}

.indicators li {
  padding: 0 !important;
}

.indicator {
  cursor: pointer;
  margin: 0;
  width: 8px;
  height: 8px;
  background-color: #666;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.indicator:not(.active):hover {
  background-color: #FF1A43;
}

.indicator.active {
  color: #fff;
  background: #FF1A43;
}

.form-PrivateEvent .form-group label.error {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  position: absolute;
  top: 47px;
  left: 0;
  padding: 8px 12px 6px;
  background: red;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  z-index: 1;
  width: 100%;
}
.form-PrivateEvent .form-group label.error:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  border: 6px solid transparent;
  border-bottom: 6px solid #f8353e;
}

.form-VipTable .form-group label.error {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  position: absolute;
  top: 47px;
  left: 0;
  padding: 8px 12px 6px;
  background: red;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  z-index: 1;
  width: 100%;
}
.form-VipTable .form-group label.error:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  border: 6px solid transparent;
  border-bottom: 6px solid #f8353e;
}

#tt-header .nav-btn li:hover,
#tt-header .tt-obj-toggle:hover
{
  cursor: pointer;
}

.upcomingEventItem {
  height: fit-content;
}

#filter-nav ul li a span:hover{
  cursor: pointer;
}

#filter-layout div.videos a:hover{
  cursor: pointer;
}

.tt-width-01 {
  background-color: #fff;
  padding: 40px 0;
  border-radius: 20px;
}

.eventInformation {
  padding: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

.eventInformation .box-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.eventInformation .box-header .box-header-title {
  display: flex;
  align-items: center;
  flex: 1;
  grid-gap: 0 10px;
  gap: 0 10px;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

.eventInformation .rules {
  padding: 10px 0;
  position: relative;
}

.eventInformation .rules ul {
  display: flex;
  flex-direction: column;
  grid-gap: 15px 0;
  gap: 15px 0;
  overflow: hidden;
  transition: .5s all;
}

.eventInformation .rules ul.active {
  max-height: 1500px;
  padding-bottom: 60px;
}

.eventInformation .rules > ul {
  max-height: 160px;
}

.eventInformation .rules > ul p {
  font-size: 16px;
  font-weight: 500;
  color: #4b4b4b;
  position: relative;
  padding-left: 23px;
}

.eventInformation .rules > ul p:before {
  content: "";
  background: #2ed87b;
  width: 10px;
  height: 75%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
}

.eventInformation .rules .rules-read-more-area {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(0deg,#ffffff 0%,rgba(255,255,255,0) 100%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  pointer-events: none;
}

.eventInformation .rules .rules-read-more-area.active {
  background: transparent;
}

.eventInformation .rules .rules-read-more-area .rules-read-more {
  display: flex;
  align-items: center;
  border: 1px solid #9d9d9d;
  height: 38px;
  padding: 0 24px;
  border-radius: 19px;
  grid-gap: 0 3px;
  gap: 0 3px;
  font-size: 14px;
  font-weight: 500;
  color: #4b4b4b;
  background: #fff;
  cursor: pointer;
  transition: .3s color;
  pointer-events: all;
}

.eventInformation .rules .rules-read-more-area .rules-read-more:hover{
  color: #000000;
}

.eventInformation .rules .rules-read-more-area .rules-read-more .arrow {
  color: #252427;
}

.eventInformation .rules .rules-read-more-area .rules-read-more .arrow.active {
  transform: rotate(-180deg);
}

.oturmaPlani {
  background-color: #fff;
  padding: 0 20px;
  border-radius: 20px;
  position: relative
}

.oturmaPlani:hover {
  cursor: pointer;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 20px;
}

.ZoomPhotoIcon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5; 
  padding: 10px;
}

.ticketCategoryItem {
  position: relative;
  width: "100%";
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 20px;
  padding: 20px 10px;
  overflow: hidden;
  transition: 0.3s all;
}

.ticketCategoryItem:hover {
  cursor: pointer;
  background-color: #0000002f;
  border-color: #000000;
}

.ticketCategoryItem .buyButton {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #252427;
  padding: 0 15px;
  color: #fff;
  border-radius: 20px 0 0 0;
}

.ticketCategoryItem .buyButton .text {
  margin-left: 5px;
}

.checkoutForm {
  width: 100%;
}

.checkoutForm input {
  background-color: red;
}

/*
 *	TICKET, ticket
 *	---------------------------------------------
 */

 .ticket-wrap {
	text-align: center;
}

.ticket {
	display: inline-block;
	margin: 0 auto;
	border: 2px solid #252427;
	font-family: "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	font-feature-settings: "kern" 1;
	background: #fff;
}

.ticket__header {
	margin: 0;
	padding: 1.5em;
	background: #f4f5f6;
}

.ticket__co span,
.ticket__route span {
	display: block;
}

.ticket__co {
	display: inline-block;
	position: relative;
	padding-left: 5em;
	line-height: 1;
	color: #5e7186;
}

.ticket__co-icon {
	position: absolute;
	top: 50%;
	margin-top: -2em;
	left: 0;
	width: 4em;
	height: auto;
}

.ticket__co-name {
	font-size: 2.5em;
  color: #252427;
	font-variation-settings: "wght" 500, "wdth" 75;
	letter-spacing: -.01em;
}

.ticket__co-subname {
	font-variation-settings: "wght" 700;
	color: #252427;
}

.ticket__body {
	padding: 2rem 1.25em 1.25em;
}

.ticket__route {
	font-variation-settings: "wght" 300;
	font-size: 2em;
	line-height: 1.1;
  color: #252427;
}

.ticket__description {
	font-variation-settings: "wght" 350;
	font-size: 1.125em;
	color: #506072;
}

.ticket__timing {
	display: flex;
	align-items: center;
  justify-content: center;
	margin-top: 1rem;
	padding: 1rem 0;
	border-top: 2px solid #9facbc;
	border-bottom: 2px solid #9facbc;
	text-align: left;
}

.ticket__timing p {
	margin: 0 1rem 0 0;
	padding-right: 1rem;
	border-right: 2px solid #9facbc;
	line-height: 1;
}

.ticket__timing p:last-child {
	margin: 0;
	padding: 0;
	border-right: 0;
}

.ticket__small-label {
	display: block;
	margin-bottom: .5em;
	font-variation-settings: "wght" 300;
	font-size: .875em;
	color: #506072;
}

.ticket__detail {
	font-variation-settings: "wght" 700;
	font-size: 1.25em;
	color: #424f5e;
}

.ticket__admit {
	margin-top: 2rem;
	font-size: 2.5em;
	font-variation-settings: "wght" 700, "wdth" 85;
	line-height: 1;
	color: #ff0000;
}

.ticket__fine-print {
	margin-top: 1rem;
	font-variation-settings: "wdth" 75;
	color: #666;
}

.ticket__barcode {
	margin-top: 1.25em;
	width: 299px;
	max-width: 100%;
}

/*
 *	CONGRATULATİONS, congratulations
 *	---------------------------------------------
 */

.congratulation-wrapper {
  max-width: 550px;
  margin-inline: auto;
  -webkit-box-shadow: 0 0 20px #f3f3f3;
  box-shadow: 0 0 20px #f3f3f3;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 10px;
}
.congratulation-contents.center-text .congratulation-contents-icon {
  margin-inline: auto;
}
.congratulation-contents-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: #65c18c;
  color: #fff;
  font-size: 50px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.congratulation-contents-title {
  font-size: 32px;
  line-height: 36px;
  margin: -6px 0 0;
}
.congratulation-contents-para {
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
}
.congratulation-contents-para .btn-wrapper {
  display: block;
}

.congratulation-contents-para .btn-wrapper .cmn-btn.btn-bg-1 {
  background: #6176f6;
  color: #fff;
  border: 2px solid transparent;
  border-radius:3px;
  text-decoration: none;
  padding:5px;
}

/*
 *	Gallery detail page css
 *	---------------------------------------------
 */
.galleryDetailPage.instagram_gallery .instagram-image {
  height: 300px;
  cursor: pointer;
}

@media (min-width: 36em) {
	.ticket-wrap {
		margin-bottom: 4em;
		text-align: center;
	}

	.ticket {
		margin: 0 auto;
		transform: rotate(6deg);
	}

	.ticket__header {
		margin: 0;
		padding: 2em;
	}

	.ticket__body {
		padding: 3rem 2em 2em;
	}

	.ticket__detail {
		font-size: 1.75em;
	}

	.ticket__admit {
		margin-top: 2rem;
	}
}

@supports (display: grid) {
	@media (min-width: 72em) {
		.ticket-info,
		.ticket-wrap {
			align-self: center;
		}

		.ticket-wrap {
			order: 2;
			margin-bottom: 0;
		}

		.ticket-info {
			order: 1;
		}
	}
}

@media only screen and (max-width: 1024px) {
  .event-item02 {
    height: 250px;
  }
  .galleryDetailPage.instagram_gallery .instagram-image {
    height: 200px;
  }
}

@media only screen and (max-width: 546px) {
  .event-item02 {
    height: 375px;
  }
}

@media only screen and (max-width: 444px) {
  .galleryDetailPage.instagram_gallery .instagram-image {
    height: 250px;
  }
}